<configuration>

    <appender name="map" class="logback.MapAppender">
        <prefix>test</prefix>
    </appender>
    <conversionRule conversionWord="mask" converterClass="logback.LogMaskingConverter" />
    <appender name="out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %mask%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="mask" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="logback.MaskingPatternLayout">
<!--                <maskPattern>\"SSN\"\s*:\s*\"(.*?)\"</maskPattern> &lt;!&ndash; SSN JSON pattern &ndash;&gt;-->
<!--                <maskPattern>\"address\"\s*:\s*\"(.*?)\"</maskPattern> &lt;!&ndash; Address JSON pattern &ndash;&gt;-->
<!--                <maskPattern>(\d+\.\d+\.\d+\.\d+)</maskPattern> &lt;!&ndash; Ip address IPv4 pattern &ndash;&gt;-->
<!--                <maskPattern>(\w+@\w+\.)</maskPattern> &lt;!&ndash; Email pattern &ndash;&gt;-->
                <pattern>%-5p [%d{ISO8601,UTC}] [%thread] %c: %mask%n%rootException</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="map"/>
<!--        <appender-ref ref="out"/>-->
<!--        <appender-ref ref="emailAppender"/>-->
        <appender-ref ref="mask" />
    </root>

</configuration>